* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: #ececec;
  background: #ececec;
}

a {
  text-decoration: none;
  color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

@-webkit-keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

.bgvideo-la {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-animation: fadein 2s forwards ease;
          animation: fadein 2s forwards ease;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-box-shadow: 0px 5px 4px -4px black;
          box-shadow: 0px 5px 4px -4px black;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #ececec;
  color: #464545;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container {
  width: 55%;
  margin: 5% auto;
}

.wrapper .container h1 {
  color: #58b422;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  border-bottom: 1px solid #58b422;
  position: relative;
  right: 45vw;
  text-align: right;
  width: 100vw;
}

.wrapper .container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.wrapper .container strong {
  color: #58b422;
}

footer {
  width: 100%;
  background: #58b422;
  font-size: 0.8em;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  margin: auto;
  padding: 1% 0;
}

footer .foot .contact h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

footer .foot .contact ul li {
  list-style: none;
}

footer .foot .form h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

footer .foot .form form input {
  display: block;
  margin: 2px;
  background-color: transparent;
  color: #ececec;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}

footer .foot .form form ::-webkit-input-placeholder {
  color: #ececec;
}

footer .foot .form form :-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::placeholder {
  color: #ececec;
}

.home {
  width: 100%;
  height: 100vh;
}

.home .container {
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}

.home nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.home nav .nav {
  padding-top: 1rem;
  text-shadow: 3px 3px 4px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1em;
}

.home nav .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home nav .nav ul li {
  list-style: none;
  -webkit-transform: translate(100rem);
          transform: translate(100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
}

.home nav .nav ul li a {
  padding: 0.5rem 0;
  margin: 0 2vw;
  position: relative;
  letter-spacing: 2px;
}

.home nav .nav ul li :last-child {
  margin-right: 0;
}

.home nav .nav ul li ::before,
.home nav .nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #58b422;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home nav .nav ul li ::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.home nav .nav ul li ::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.home nav .nav ul li :hover::before,
.home nav .nav ul li :hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.home nav .nav ul :nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.home nav .nav ul :nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.home nav .nav ul :nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.home nav .nav ul :nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.home nav .nav ul :nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home nav .nav .brand {
  max-height: 2em;
  -webkit-transform: translate(-100rem);
          transform: translate(-100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

.home nav .nav .brand span {
  color: #58b422;
}

.home .intro {
  text-shadow: 3px 3px 4px black;
  -webkit-animation: fadein 10s forwards ease;
          animation: fadein 10s forwards ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro .logo {
  margin: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .intro .logo h1 {
  font-size: 3em;
  font-weight: 300;
}

.home .intro .logo h1 span {
  color: #58b422;
}

.home .intro .logo h1::after {
  content: " Building our future one block at a time";
  display: block;
  font-size: 0.3em;
  letter-spacing: 0.05em;
}

.home .intro .logo img {
  max-height: 3em;
  margin: 0.5em;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 12px;
  }
  html .home {
    background: url("/assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation: fadein 10s forwards ease;
            animation: fadein 10s forwards ease;
    opacity: 0;
  }
  video {
    display: none;
  }
  .wrapper .container {
    width: 80%;
  }
  .wrapper .container h1 {
    right: 20vw;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
  html .home {
    background: url("/assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation: fadein 10s forwards ease;
            animation: fadein 10s forwards ease;
    opacity: 0;
  }
  video {
    display: none;
  }
  nav {
    display: none;
  }
  .wrapper .container {
    width: 95%;
  }
  .wrapper .container h1 {
    right: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */