@import "assets/scss/_var.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: $color1;
  background: $color1;
}
a {
  text-decoration: none;
  color: $color1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
}
@import "assets/scss/_nav.scss";
@import "assets/scss/_keyframes.scss";
@import "assets/scss/_video.scss";
@import "assets/scss/_wrapper.scss";
@import "assets/scss/_footer.scss";

.home {
  width: 100%;
  height: 100vh;
  @import "assets/scss/_intro.scss";
}
@import "assets/scss/_energy.scss";
@import "assets/scss/_robotics.scss";
@import "assets/scss/_media.scss";
