@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: #ececec;
  background: white;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

.sticky {
  top: 0;
  z-index: 5;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  text-shadow: 3px 3px 4px black;
  position: -webkit-sticky;
  position: sticky;
}

.sticky .brand {
  max-height: 2em;
  -webkit-transform: translate(-100rem);
          transform: translate(-100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

.sticky .brand span {
  color: #58b422;
}

nav {
  top: 0;
  z-index: 5;
  position: absolute;
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}

nav .nav {
  padding-top: 1rem;
  text-shadow: 3px 3px 4px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-transform: uppercase;
  font-size: 1em;
}

nav .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .nav ul li {
  list-style: none;
  -webkit-transform: translate(100rem);
          transform: translate(100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
}

nav .nav ul li a {
  padding: 0.5rem 0;
  margin: 0 2vw;
  position: relative;
  letter-spacing: 2px;
}

nav .nav ul li :last-child {
  margin-right: 0;
}

nav .nav ul li ::before,
nav .nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #58b422;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav ul li ::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .nav ul li ::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .nav ul li :hover::before,
nav .nav ul li :hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .nav ul :nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav .nav ul :nth-child(1) ::before,
nav .nav ul :nth-child(1) ::after {
  background-color: #ff7b42;
}

nav .nav ul :nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav .nav ul :nth-child(2) ::before,
nav .nav ul :nth-child(2) ::after {
  background-color: #008092;
}

nav .nav ul :nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

nav .nav ul :nth-child(3) ::before,
nav .nav ul :nth-child(3) ::after {
  background-color: #c50000;
}

nav .nav ul :nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

.fullscreen-video-wrap {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-animation: fadein 2s forwards ease;
          animation: fadein 2s forwards ease;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.bgvideo-la {
  min-width: 100%;
  min-height: 100%;
}

header {
  text-shadow: 3px 3px 4px black;
  -webkit-animation: fadein 10s forwards ease;
          animation: fadein 10s forwards ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  margin: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo h1 {
  font-size: 3em;
  font-weight: 300;
  color: #ececec;
}

header .logo h1 span {
  color: #58b422;
}

header .logo h1::after {
  content: " Building our future one block at a time";
  display: block;
  font-size: 0.3em;
  letter-spacing: 0.05em;
}

header .logo img {
  max-height: 3em;
  margin: 0.5em;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

.home-container {
  color: #464545;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: justify;
}

.home-container strong {
  color: #58b422;
}

.home-container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.home-title {
  color: #58b422;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #58b422;
  position: relative;
  text-align: right;
  margin-right: 22%;
}

.eco-parallax {
  background-image: url("./assets/images/cityplan.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.eco-container {
  color: #464545;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  background: white;
  text-align: justify;
}

.eco-container strong {
  color: #ff7b42;
}

.eco-container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.eco-title {
  color: #ff7b42;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #ff7b42;
  position: relative;
  text-align: right;
  margin-right: 22%;
}

/* roundbox */
.la-roundbox {
  width: 55vw;
  height: 20vh;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.la-r {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.la-r img {
  width: 8vw;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.la-r p {
  text-align: center;
  text-transform: uppercase;
  color: #ff7b42;
  margin-top: 1em;
}

/* labox */
.la-picbox {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0;
  padding: 0;
}

.la-picbox .la-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20vw;
  height: 33.33vh;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.la-picbox .imgbox {
  overflow: hidden;
}

.la-picbox img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.la-picbox p {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  text-align: center;
  color: #ececec;
  font-size: 1.5em;
  text-transform: uppercase;
}

.la-itemcolor1 {
  background: #01446e;
}

.la-itemcolor2 {
  background: #ff7b42;
}

.la-itemcolor3 {
  background: #858f8b;
}

.la-itemcolor4 {
  background: #008092;
}

.eco-image {
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.googlebox {
  color: #464545;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: justify;
  position: relative;
  top: -2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.googlebox .googlelink {
  width: 60%;
  height: 40vh;
  margin: 1em 1em 1em 0em;
}

.googlebox .google-box1 {
  font-size: 1em;
  color: #464545;
  border: #58b422 solid 1px;
  margin: 1em 0em 1em 1em;
  padding: 1em;
}

.googlebox .google-box1 h2 {
  font-size: 1em;
  color: #58b422;
  -webkit-margin-after: 0.2em;
          margin-block-end: 0.2em;
}

.googlebox .google-box1 li {
  list-style: none;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.googlebox .google-box1 a {
  text-decoration: none;
  color: #464545;
}

.kris-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.kris-container strong {
  color: #008092;
}

.kris-container .kris-box1 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: justify;
}

.kris-container .kris-box1 p {
  padding: 1em 0 0 0;
  font-size: 1em;
  color: #464545;
}

.kris-container strong {
  color: #008092;
}

.kris-container img {
  width: 40%;
  height: 60%;
  margin-left: 3em;
  padding-top: 1em;
}

.kris-title {
  color: #008092;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #008092;
  position: relative;
  text-align: right;
  margin-right: 22%;
}

.para-cont {
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  color: #464545;
  text-align: justify;
}

.para-cont strong {
  color: #008092;
}

.para-cont ul {
  padding: 1em;
  font-style: italic;
  list-style: none;
}

.para-cont ul li::before {
  content: "•";
  color: #008092;
  font-style: normal;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.parallax-kris {
  background-image: url("./assets/images/image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
}

.parallax2-kris {
  background-image: url("./assets/images/water.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
}

.parallax3-kris {
  background-image: url("./assets/images/hightech.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.robo-container {
  color: #464545;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  text-align: justify;
}

.robo-container strong {
  color: #c50000;
}

.robo-container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.robo-title {
  color: #c50000;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #c50000;
  position: relative;
  text-align: right;
  margin-right: 22%;
}

.robotics {
  background: white;
  color: #464545;
  text-decoration: none;
  padding-bottom: 5%;
  text-align: justify;
}

.robotics .container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.robotics .container .content-box-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: #ececec;
  padding-left: 2em;
  text-align: left;
  padding-right: 2em;
  text-align: justify;
}

.robotics .container .content-box-1 h1 {
  color: #c50000;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #c50000;
}

.robotics .container .content-box-1 p {
  font-size: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.robotics .container .content-box-2 {
  background-color: #c50000;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #ececec;
  padding-left: 2em;
  text-align: right;
  padding-right: 2em;
  text-align: justify;
}

.robotics .container .content-box-2 h1 {
  color: #ececec;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #ececec;
}

.robotics .container .content-box-2 p {
  font-size: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.robotics .container .img-box-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-image: url("./assets/images/robot-header.jpg");
  background-position: center;
  background-size: cover;
}

.robotics .container .img-box-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-image: url("./assets/images/img_box-1.jpg");
  background-position: center;
  background-size: cover;
}

.robotics .content-box {
  width: 55%;
  margin: auto;
  text-align: justify;
}

.robotics .content-box h1 {
  color: #c50000;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #c50000;
  position: relative;
  right: 45vw;
  text-align: right;
  width: 100vw;
  margin-block-end: 1em;
}

.robotics .content-box .p-left {
  font-size: 1em;
  text-align: justify;
  margin-left: 2%;
}

.robotics .content-box .p-right {
  font-size: 1em;
  text-align: justify;
  padding-right: 5%;
}

.robotics .content-box .img-left {
  height: auto;
  width: 35%;
  float: left;
}

.robotics .content-box .img-right {
  height: auto;
  width: 42%;
  float: right;
}

.parallax-aaron {
  background-image: url("./assets/images/Robotparalax.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #ececec;
  color: #464545;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

.wrapper .container {
  width: 55%;
  margin: auto;
}

.wrapper .container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.wrapper .container strong {
  color: #58b422;
}

footer {
  width: 100%;
  background: #58b422;
  font-size: 0.8em;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  margin: auto;
  padding: 1% 0;
}

footer .foot .contact h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  text-align: center;
  margin-bottom: 0;
}

footer .foot .contact ul li {
  list-style: none;
  text-align: center;
}

footer .foot .contact ul li .linkcolor {
  background: #ececec;
  color: #464545;
  border: none;
  border-radius: 2px;
  padding: 0 10px;
}

footer .foot .form h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

footer .foot .form form input {
  display: block;
  margin: 2px;
  background-color: transparent;
  color: #ececec;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}

footer .foot .form form ::-webkit-input-placeholder {
  color: #ececec;
}

footer .foot .form form :-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::placeholder {
  color: #ececec;
}

footer .foot .form form .linkcolor {
  background: #ececec;
  color: #464545;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.foot3 {
  width: 100vw;
  height: 10vh;
  text-align: center;
  background: #464545;
  color: #ececec;
}

.foot3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3vh;
  position: relative;
  top: 40%;
}

.foot3 ul li {
  margin-right: 2em;
  padding-right: 2em;
  line-height: 3vh;
  list-style: none;
  border-right: 1px solid #ececec;
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
  .home-container {
    width: 55%;
  }
  footer .foot {
    width: 55%;
  }
  .kris-container {
    width: 55%;
  }
  .para-cont {
    width: 55%;
  }
  .robotics .content-box {
    width: 55%;
  }
  .googlebox {
    width: 55%;
  }
  .eco-container {
    width: 55%;
  }
  .la-roundbox {
    width: 55%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
  .home-container {
    width: 55%;
  }
  .kris-container {
    width: 55%;
  }
  .para-cont {
    width: 55%;
  }
  .robotics .content-box {
    width: 55%;
  }
  footer .foot {
    width: 55%;
  }
  .googlebox {
    width: 55%;
  }
  .eco-container {
    width: 55%;
  }
  .la-roundbox {
    width: 55%;
  }
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 12px;
  }
  html .fullscreen-video-wrap {
    background: url("./assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-animation: fadein 2s forwards ease;
            animation: fadein 2s forwards ease;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  video {
    display: none;
  }
  .home-container {
    width: 80%;
  }
  .kris-container {
    width: 80%;
  }
  .para-cont {
    width: 80%;
  }
  .robotics .content-box {
    width: 80%;
  }
  footer .foot {
    width: 80%;
  }
  .googlebox {
    width: 80%;
  }
  .eco-container {
    width: 80%;
  }
  .la-roundbox {
    width: 80%;
  }
  .la-picbox {
    height: 75vh;
  }
  .la-picbox .la-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 33vw;
    height: 15vh;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
  html .fullscreen-video-wrap {
    background: url("./assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-animation: fadein 2s forwards ease;
            animation: fadein 2s forwards ease;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  video {
    display: none;
  }
  nav {
    display: none;
  }
  .home-container {
    width: 95%;
  }
  .kris-container {
    width: 95%;
  }
  .para-cont {
    width: 95%;
  }
  .robotics .content-box {
    width: 95%;
  }
  .foot {
    width: 95vw;
  }
  .googlebox {
    width: 95%;
  }
  .eco-container {
    width: 95%;
  }
  .la-roundbox {
    width: 95%;
  }
  .la-picbox {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */