* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: #ececec;
  background: #ececec;
}

a {
  text-decoration: none;
  color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

nav {
  top: 0;
  z-index: 5;
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
}

nav .nav {
  padding-top: 1rem;
  text-shadow: 3px 3px 4px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1em;
}

nav .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

nav .nav ul li {
  list-style: none;
  -webkit-transform: translate(100rem);
          transform: translate(100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
}

nav .nav ul li a {
  padding: 0.5rem 0;
  margin: 0 2vw;
  position: relative;
  letter-spacing: 2px;
}

nav .nav ul li :last-child {
  margin-right: 0;
}

nav .nav ul li ::before,
nav .nav ul li ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #58b422;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav ul li ::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .nav ul li ::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .nav ul li :hover::before,
nav .nav ul li :hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .nav ul :nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav .nav ul :nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav .nav ul :nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

nav .nav ul :nth-child(3) ::before,
nav .nav ul :nth-child(3) ::after {
  background-color: #008092;
}

nav .nav ul :nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

nav .nav ul :nth-child(4) ::before,
nav .nav ul :nth-child(4) ::after {
  background-color: #fc462e;
}

nav .nav ul :nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

nav .nav .brand {
  max-height: 2em;
  -webkit-transform: translate(-100rem);
          transform: translate(-100rem);
  -webkit-animation: slidein 2s forwards ease;
          animation: slidein 2s forwards ease;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

nav .nav .brand span {
  color: #58b422;
}

@-webkit-keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    opacity: 1;
    -webkit-box-shadow: 1;
            box-shadow: 1;
  }
}

.bgvideo-la {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-animation: fadein 2s forwards ease;
          animation: fadein 2s forwards ease;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-box-shadow: 0px 5px 4px -4px black;
          box-shadow: 0px 5px 4px -4px black;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #ececec;
  color: #464545;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

.wrapper .container {
  width: 55%;
  margin: auto;
}

.wrapper .container h1 {
  color: #58b422;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #58b422;
  position: relative;
  right: 45vw;
  text-align: right;
  width: 100vw;
}

.wrapper .container p {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.wrapper .container strong {
  color: #58b422;
}

footer {
  width: 100%;
  background: #58b422;
  font-size: 0.8em;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  margin: auto;
  padding: 1% 0;
}

footer .foot .contact h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

footer .foot .contact ul li {
  list-style: none;
}

footer .foot .form h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

footer .foot .form form input {
  display: block;
  margin: 2px;
  background-color: transparent;
  color: #ececec;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}

footer .foot .form form ::-webkit-input-placeholder {
  color: #ececec;
}

footer .foot .form form :-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::-ms-input-placeholder {
  color: #ececec;
}

footer .foot .form form ::placeholder {
  color: #ececec;
}

.home {
  width: 100%;
  height: 100vh;
}

.home .intro {
  text-shadow: 3px 3px 4px black;
  -webkit-animation: fadein 10s forwards ease;
          animation: fadein 10s forwards ease;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro .logo {
  margin: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .intro .logo h1 {
  font-size: 3em;
  font-weight: 300;
}

.home .intro .logo h1 span {
  color: #58b422;
}

.home .intro .logo h1::after {
  content: " Building our future one block at a time";
  display: block;
  font-size: 0.3em;
  letter-spacing: 0.05em;
}

.home .intro .logo img {
  max-height: 3em;
  margin: 0.5em;
  -webkit-filter: drop-shadow(3px 3px 4px black);
          filter: drop-shadow(3px 3px 4px black);
}

.kris-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kris-container .kris-box1 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.kris-container .kris-box1 p {
  padding: 1em 0 0 0;
  font-size: 1em;
  color: #464545;
}

.kris-container strong {
  color: #008092;
}

.kris-container img {
  width: 40%;
  height: 60%;
  margin-left: 3em;
  padding-top: 1em;
}

.kris-title {
  color: #008092;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #008092;
  position: relative;
  text-align: right;
  margin-right: 22%;
}

.para-cont {
  width: 55vw;
  margin: 0 auto;
  padding-bottom: 5%;
  color: #464545;
}

.para-cont ul {
  padding: 1em;
  font-style: italic;
}

.parallax-kris {
  background-image: url("/assets/images/image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
}

.parallax2-kris {
  background-image: url("/assets/images/water.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
}

.parallax3-kris {
  background-image: url("/assets/images/hightech.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.robotics {
  background: white;
  color: #464545;
  text-decoration: none;
  padding-bottom: 5%;
}

.robotics .container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.robotics .container .content-box-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #ececec;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  padding-right: 50px;
}

.robotics .container .content-box-1 h1 {
  color: #fc462e;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #fc462e;
}

.robotics .container .content-box-1 p {
  font-size: 1.1em;
}

.robotics .container .content-box-2 {
  background-color: #fc462e;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: #ececec;
  padding-left: 50px;
  padding-top: 10px;
  text-align: right;
  padding-right: 20px;
}

.robotics .container .content-box-2 h1 {
  color: #ececec;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #ececec;
}

.robotics .container .content-box-2 p {
  font-size: 1.1em;
}

.robotics .container .img-box-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("/assets/images/robot-header.jpg");
  background-position: center;
  background-size: cover;
}

.robotics .container .img-box-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("/assets/images/img_box-1.jpg");
  background-position: center;
  background-size: cover;
}

.robotics .content-box {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 95vh;
  width: 55%;
  margin: auto;
}

.robotics .content-box h1 {
  color: #fc462e;
  font-size: 2.25em;
  font-weight: 80;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  border-bottom: 1px solid #fc462e;
  position: relative;
  right: 45vw;
  text-align: right;
  width: 100vw;
  margin-top: 5%;
}

.robotics .content-box .p-left {
  font-size: 1em;
  text-align: justify;
  margin-left: 2%;
}

.robotics .content-box .p-right {
  font-size: 1em;
  text-align: justify;
  padding-right: 5%;
}

.robotics .content-box .img-left {
  height: auto;
  width: 35%;
  float: left;
}

.robotics .content-box .img-right {
  height: auto;
  width: 42%;
  float: right;
}

.parallax-aaron {
  background-image: url("/assets/images/Robotparalax.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

@media only screen and (max-width: 770px) {
  html {
    font-size: 12px;
  }
  html .home {
    background: url("/assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation: fadein 10s forwards ease;
            animation: fadein 10s forwards ease;
    opacity: 0;
  }
  video {
    display: none;
  }
  .wrapper .container {
    width: 80%;
  }
  .wrapper .container h1 {
    right: 20vw;
  }
  footer .foot {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
  html .home {
    background: url("/assets/images/city1.jpg") no-repeat center;
    background-size: cover;
    -webkit-animation: fadein 10s forwards ease;
            animation: fadein 10s forwards ease;
    opacity: 0;
  }
  video {
    display: none;
  }
  nav {
    display: none;
  }
  .wrapper .container {
    width: 95%;
  }
  .wrapper .container h1 {
    right: 10vw;
  }
  footer .foot {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */