footer {
  width: 100%;
  background: $color2;
  font-size: 0.8em;

  .foot {
    width: 55%;
    margin: auto;
    padding: 1% 0;
    h1 {
      margin-block-end: 0.5em;
    }
    ul li {
      list-style: none;
    }
  }
}
