footer {
  width: 100%;
  background: $color2;
  font-size: 0.8em;
  .foot {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    padding: 1% 0;
    .contact {
      h2 {
        margin-block-end: 0.5em;
        text-align: center;
        margin-bottom: 0;
      }
      ul li {
        list-style: none;
        text-align: center;
        .linkcolor{
          background: $color1;
          color: $color3;
          border: none;
          border-radius: 2px;
          padding:0 10px;
        }
      }
    }
    .form {
      h2 {
        margin-block-end: 0.5em;
      }
      form {
        input {
          display: block;
          margin: 2px;
          background-color: transparent;
          color: $color1;
          border: 1px solid;
          border-radius: 2px;
          padding: 5px;
          width: 100%;
        }
        ::placeholder {
          color: $color1;
        }
        .linkcolor{
          background: $color1;
          color: $color3;
          border: none;
          border-radius: 2px;
          padding: 5px;
        }
      }
    }
  }
  
}
.foot3{
  width: 100vw;
  height: 10vh;
  text-align: center;
  background: $color3;
  color: $color1;
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 3vh;
    position: relative;
    top: 40%;
    li{
      margin-right: 2em;
      padding-right: 2em;
      line-height: 3vh;
      list-style: none;
      border-right: 1px solid $color1;
    }
  }
}


