@media only screen and (max-width: 2000px) {
  html {
    font-size: 24px;
  }
  .home-container {
    width: 55%;
  }
  footer {
    .foot {
      width: 55%;
    }
  }
  .kris-container {
    width: 55%;
  }
  .para-cont {
    width: 55%;
  }
  .robotics {
    .content-box {
      width: 55%;
    }
  }
  .googlebox {
    width: 55%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 16px;
  }
  .home-container {
    width: 55%;
  }

  .kris-container {
    width: 55%;
  }
  .para-cont {
    width: 55%;
  }
  .robotics {
    .content-box {
      width: 55%;
    }
  }
  footer {
    .foot {
      width: 55%;
    }
  }
  .googlebox {
    width: 55%;
  }
}
@media only screen and (max-width: 770px) {
  html {
    font-size: 12px;
    header {
      background: url("./assets/images/city1.jpg") no-repeat center;
      background-size: cover;
      animation: fadein 10s forwards ease;
      opacity: 0;
      position: relative;
      top: 0;
      width: 100%;
      height: 100vh;
    }
  }
  video {
    display: none;
  }
  .home-container {
    width: 80%;
  }

  .kris-container {
    width: 80%;
  }
  .para-cont {
    width: 80%;
  }
  .robotics {
    .content-box {
      width: 80%;
    }
  }
  footer {
    .foot {
      width: 80%;
    }
  }
  .googlebox {
    width: 80%;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
    header {
      background: url("./assets/images/city1.jpg") no-repeat center;
      background-size: cover;
      animation: fadein 10s forwards ease;
      opacity: 0;
    }
  }
  video {
    display: none;
  }
  nav {
    display: none;
  }
  .home-container {
    width: 95%;
  }

  .kris-container {
    width: 95%;
  }
  .para-cont {
    width: 95%;
  }
  .robotics {
    .content-box {
      width: 95%;
    }
  }
  footer {
    .foot {
      width: 95%;
    }
  }
  .googlebox {
    width: 95%;
  }
}
