.sticky {
  top: 0;
  z-index: 5;
  // display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  text-shadow: 3px 3px 4px black;
  position: sticky;
  .brand {
    max-height: 2em;
    transform: translate(-100rem);
    animation: slidein 2s forwards ease;
    filter: drop-shadow(3px 3px 4px black);
    span {
      color: $color2;
    }
  }
}
nav {
  top: 0;
  z-index: 5;
  position: absolute;
  max-width: 140rem;
  width: 90%;
  margin: 0 auto;
  .nav {
    padding-top: 1rem;
    text-shadow: 3px 3px 4px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: right;
    text-transform: uppercase;
    font-size: 1em;
    ul {
      display: flex;
      position: relative;
      li {
        list-style: none;
        transform: translate(100rem);
        animation: slidein 2s forwards ease;
        a {
          padding: 0.5rem 0;
          margin: 0 2vw;
          position: relative;
          letter-spacing: 2px;
        }
        :last-child {
          margin-right: 0;
        }
        ::before,
        ::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $color2;
          left: 0;
          transform: scaleX(0);
          transition: all 0.5s;
        }
        ::before {
          top: 0;
          transform-origin: left;
        }
        ::after {
          bottom: 0;
          transform-origin: right;
        }
        :hover::before,
        :hover::after {
          transform: scaleX(1);
        }
      }

      :nth-child(1) {
        animation-delay: 0s;
        ::before,
        ::after {
          background-color: $color7;
        }
      }
      :nth-child(2) {
        animation-delay: 0.5s;
        ::before,
        ::after {
          background-color: $color4;
        }
      }
      :nth-child(3) {
        animation-delay: 1s;
        ::before,
        ::after {
          background-color: $color5;
        }
      }
      :nth-child(4) {
        animation-delay: 1.5s;
      }
    }
  }
}
