$color1: rgb(236, 236, 236);
$color2: rgb(88, 180, 34);
$color3: rgb(70, 69, 69);
$color4: rgb(0, 128, 146);
$color5: rgb(252, 70, 46);
$color6: #00b7ee;
$color7: #ff7b42;
$color8: #01446e;
$color9: #858f8b;
