.fullscreen-video-wrap {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: fadein 2s forwards ease;
  animation-delay: 500ms;
}
.bgvideo-la {
  min-width: 100%;
  min-height: 100%;
}
