.wrapper {
  width: 100%;
  height: auto;
  background: $color1;
  color: $color3;
  text-align: justify;
  display: flex;
  align-items: center;

  .container {
    width: 55%;
    margin: 5% auto;
    h1 {
      color: $color2;
      font-size: 2.25em;
      font-weight: 80;
      margin-block-end: 1em;
    }
    p {
      margin-block-end: 1em;
    }
  }
}
