.wrapper {
  width: 100%;
  height: auto;
  background: $color1;
  color: $color3;
  text-align: justify;
  display: flex;
  align-items: center;
  padding-bottom: 5%;

  .container {
    width: 55%;
    margin: auto;
    h1 {
      color: $color2;
      font-size: 2.25em;
      font-weight: 80;
      margin-block-end: 1em;
      margin-block-start: 1em;
      border-bottom: 1px solid $color2;
      position: relative;
      right: 45vw;
      text-align: right;
      width: 100vw;
    }
    p {
      margin-block-end: 1em;
    }
    strong {
      color: $color2;
    }
  }
}
