.wrapper {
  width: 100%;
  height: auto;
  background: $color1;
  color: $color3;
  text-align: justify;
  display: flex;
  align-items: center;
  padding-bottom: 5%;

  .container {
    width: 55%;
    margin: auto;

    p {
      margin-block-end: 1em;
    }
    strong {
      color: $color2;
    }
  }
}
