.navbar {
  font-size: 18px;
  background-image: $color3;
  border: 1px solid $color2;
  padding-bottom: 10px;
}
.main-nav {
  list-style-type: none;
}
.nav-links,
.logo {
  text-decoration: none;
  color: $color1;
}
