@import "_var.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: calc(14px + 0.2vw);
  font-family: "roboto", sans-serif;
  color: $color1;
  background: $color1;
}
body {
  overflow: scroll;
}
a {
  text-decoration: none;
  color: $color1;
}

@import "_keyframes.scss";
@import "_video.scss";
@import "_wrapper.scss";

.page1 {
  width: 100%;
  height: 100vh;

  // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
  //   url("/images/city1.jpg") center no-repeat;
  // background-size: cover;

  .container {
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;
  }

  .intro {
    text-shadow: 3px 3px 4px black;
    padding-left: 20%;
    padding-top: 25%;
    animation: fadein 10s forwards ease;
    animation-delay: 3s;
    opacity: 0;
    .logo {
      display: flex;
      align-items: center;
      h1 {
        font-size: 3em;
        font-weight: 300;
        span {
          color: $color2;
        }
      }
      img {
        max-height: 3em;
        margin: 0.5em;
        filter: drop-shadow(3px 3px 4px black);
      }
    }
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
  @import "_nav.scss";
}
